.text-area {
  text-area-background: rgba(201, 201, 201, 0.4), rgba(201, 201, 201, 0.4);
}

.text-area .content {
  -fx-background-color: text-area-background ;
}

.text-area {
  -fx-background-color: text-area-background;
}

.text-area .scroll-pane {
  -fx-background-color: text-area-background;
}

.text-area .scroll-pane .viewport{
  -fx-background-color: text-area-background;
}


.text-area .scroll-pane .content{
  -fx-background-color: text-area-background;
}